You have been hired as data scientist at the Montreal Cancer Treatment Institute. Your new lab told you that they have a really insteresting dataset of breast cancer data and they want you to check if the table can be used without any changes.

In [1]:
#Import libraries you might need
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
import seaborn as sns

In [2]:
#### Import file breast_cancer_data.csv
df = pd.read_csv(r"C:\Users\saadc\Downloads\breast_cancer_data.csv")
df

,patient_id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class,doctor_name
0,1000025,5.0,1.0,1,1,2,1,3.0,1.0,1,benign,Dr. Doe
1,1002945,5.0,4.0,4,5,7,10,3.0,2.0,1,benign,Dr. Smith
2,1015425,3.0,1.0,1,1,2,2,3.0,1.0,1,benign,Dr. Lee
3,1016277,6.0,8.0,8,1,3,4,3.0,7.0,1,benign,Dr. Smith
4,1017023,4.0,1.0,1,3,2,1,3.0,1.0,1,benign,Dr. Wong
...,...,...,...,...,...,...,...,...,...,...,...,...
694,776715,3.0,1.0,1,1,3,2,1.0,1.0,1,benign,Dr. Lee
695,841769,2.0,1.0,1,1,2,1,1.0,1.0,1,benign,Dr. Smith
696,888820,5.0,10.0,10,3,7,3,8.0,10.0,2,malignant,Dr. Lee
697,897471,4.0,8.0,6,4,3,4,10.0,6.0,1,malignant,Dr. Lee
698,897471,4.0,8.0,8,5,4,5,10.0,4.0,1,malignant,Dr. Wong

Let's check the file then...

In [3]:
##Look at the first 5 rows of data
df.head(5)

,patient_id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class,doctor_name
0,1000025,5.0,1.0,1,1,2,1,3.0,1.0,1,benign,Dr. Doe
1,1002945,5.0,4.0,4,5,7,10,3.0,2.0,1,benign,Dr. Smith
2,1015425,3.0,1.0,1,1,2,2,3.0,1.0,1,benign,Dr. Lee
3,1016277,6.0,8.0,8,1,3,4,3.0,7.0,1,benign,Dr. Smith
4,1017023,4.0,1.0,1,3,2,1,3.0,1.0,1,benign,Dr. Wong

### General questions about the dataset

### 1. How many rows and columns do we have?

In [4]:
# How many rows and columns do we have?
df.shape

(699, 12)

### 2. What are the type of the values in each column?

In [5]:
 #What are the type of the values in each column?
df.dtypes

patient_id                 int64
clump_thickness          float64
cell_size_uniformity     float64
cell_shape_uniformity      int64
marginal_adhesion          int64
single_ep_cell_size        int64
bare_nuclei               object
bland_chromatin          float64
normal_nucleoli          float64
mitoses                    int64
class                     object
doctor_name               object
dtype: object

### 3. How can we check the number of each unique value per column?

In [6]:
#How can we check the number of each unique value per column?
for columns in df.columns:
    print(columns)
    print(f"{columns} contains unique values {df[columns].unique()}")

patient_id
patient_id contains unique values [ 1000025  1002945  1015425  1016277  1017023  1017122  1018099  1018561
  1033078  1035283  1036172  1041801  1043999  1044572  1047630  1048672
  1049815  1050670  1050718  1054590  1054593  1056784  1057013  1059552
  1065726  1066373  1066979  1067444  1070935  1071760  1072179  1074610
  1075123  1079304  1080185  1081791  1084584  1091262  1096800  1099510
  1100524  1102573  1103608  1103722  1105257  1105524  1106095  1106829
  1108370  1108449  1110102  1110503  1110524  1111249  1112209  1113038
  1113483  1113906  1115282  1115293  1116116  1116132  1116192  1116998
  1117152  1118039  1120559  1121732  1121919  1123061  1124651  1125035
  1126417  1131294  1132347  1133041  1133136  1136142  1137156  1143978
  1147044  1147699  1147748  1148278  1148873  1152331  1155546  1156272
  1156948  1157734  1158247  1160476  1164066  1165297  1165790  1165926
  1166630  1166654  1167439  1167471  1168359  1168736  1169049  1170419
  1170420  1171710  1171795  1171845  1172152  1173216  1173235  1173347
  1173509  1173514  1173681  1174057  1174131  1174428  1175937  1176406
  1176881  1177027  1177399  1177512  1178580  1179818  1180194  1180523
  1180831  1181356  1182404  1182410  1183240  1183246  1183516  1183911
  1183983  1184184  1184241  1184840  1185609  1185610  1187457  1187805
  1188472  1189266  1189286  1190394  1190485  1192325  1193091  1193210
  1193683  1196295  1196915  1197080  1197270  1197440  1197510  1197979
  1197993  1198128  1198641  1199219  1199731  1199983  1200772  1200847
  1200892  1200952  1201834  1201936  1202125  1202812  1203096  1204242
  1204898  1205138  1205579  1206089  1206695  1206841  1207986  1208301
  1210963  1211202  1212232  1212251  1212422  1213375  1213383  1214092
  1214556  1214966  1216694  1216947  1217051  1217264  1218105  1218741
  1218860  1219406  1219525  1219859  1220330  1221863  1222047  1222936
  1223282  1223426  1223793  1223967  1224329  1225799  1226012  1226612
  1227210  1227244  1227481  1228152  1228311  1230175  1230688  1231387
  1231706  1232225  1236043  1241232  1241559  1241679  1242364  1243256
  1270479  1276091  1277018   128059  1285531  1287775   144888   145447
   167528   169356   183913   191250   242970   255644   263538   274137
   303213   314428   320675   324427   385103   390840   411453   428903
   431495   432809   434518   452264   456282   476903   486283   486662
   488173   492268   508234   527363   529329   535331   543558   555977
   560680   561477   563649   601265   606140   606722   616240    61634
   625201    63375   635844   636130   640744   646904   653777   659642
   666090   666942   667204   673637   684955   688033   691628   693702
   704097   704168   706426   709287   718641   721482   730881   733639
   733823   740492   743348   752904   756136   760001   760239    76389
   764974   770066   785208   785615   792744   797327   798429   806423
   809912   810104   814265   814911   822829   826923   830690   831268
   832226   832567   836433   837082   846832   850831   855524   857774
   859164   859350   866325   873549   877291   877943   888169   888523
   896404   897172    95719   160296   342245   428598   492561   493452
   521441   636437   640712   654244   657753   685977   805448   846423
  1002504  1022257  1026122  1071084  1080233  1114570  1116715  1131411
  1151734  1156017  1158405  1168278  1176187  1196263  1196475  1206314
  1211265  1213784  1223003  1223306  1223543  1229929  1231853  1234554
  1236837  1237674  1238021  1238464  1238633  1238915  1238948  1239232
  1239347  1239967  1240337  1253505  1255384  1257200  1257648  1257815
  1257938  1258549  1258556  1266154  1272039  1277629  1293439  1294562
  1295186   527337   558538   566509   608157   677910   734111   780555
   827627  1049837  1058849  1193544  1201870  1202253  1227081  1230994
  1238410  1246562  1257470  1259008  1266124  1267898  1268313  1268804
  1280258  1293966  1296572  1298416  1299596  1181685  1211594  1238777
  1257608  1269574  1277145  1287282  1296025  1296263  1296593  1299161
  1301945  1302428  1318169   474162   787451  1002025  1070522  1073960
  1076352  1084139  1119189  1133991  1142706  1155967  1170945  1181567
  1204558  1217952  1224565  1238186  1253917  1265899  1268766  1277268
  1286943  1295508  1297327  1297522  1298360  1299924  1299994  1304595
  1306282  1313325  1320077  1320304  1330439   333093   369565   412300
   672113   749653   769612   807657  8233704   837480   867392   869828
  1043068  1056171  1061990  1113061  1135090  1145420  1158157  1171578
  1174841  1184586  1186936  1197527  1222464  1240603  1241035  1287971
  1289391  1306339  1313658  1313982  1321264  1321321  1321348  1321931
  1321942  1328331  1328755  1331405  1331412  1333104  1334071  1343068
  1343374  1344121   142932   183936   324382   378275   690557   695091
   695219   824249   871549   878358  1107684  1115762  1217717  1239420
  1254538  1261751  1268275  1272166  1294261  1295529  1298484  1311875
  1315506  1320141  1325309  1333063  1333495  1334659  1336798  1344449
  1350568  1352663   188336   352431   353098   557583   636375   736150
   803531  1016634  1031608  1041043  1042252  1057067  1073836  1083817
  1096352  1140597  1149548  1174009  1183596  1190386  1190546  1213273
  1218982  1225382  1235807  1253955  1257366  1260659  1268952  1275807
  1277792  1285722  1288608  1290203  1294413  1303489  1311033  1311108
  1315807  1318671  1319609  1323477  1324572  1324681  1325159  1326892
  1330361  1333877  1334015  1334667  1339781 13454352  1345452  1345593
  1347749  1347943  1348851  1350319  1350423  1352848  1353092  1354840
  1355260  1365075  1365328  1368267  1368273  1368882  1369821  1371026
  1371920   466906   534555   536708   566346   603148   654546   714039
   763235   776715   841769   888820   897471]
clump_thickness
clump_thickness contains unique values [ 5.  3.  6.  4.  8.  1.  2. nan  7. 10.  9.]
cell_size_uniformity
cell_size_uniformity contains unique values [ 1.  4.  8. 10. nan  2.  3.  7.  5.  6.  9.]
cell_shape_uniformity
cell_shape_uniformity contains unique values [ 1  4  8 10  2  3  5  6  7  9]
marginal_adhesion
marginal_adhesion contains unique values [ 1  5  3  8  4  6 10  2  9  7]
single_ep_cell_size
single_ep_cell_size contains unique values [ 2  7  3  1  6  4  5  8 10  9]
bare_nuclei
bare_nuclei contains unique values ['1' '10' '2' '4' '3' '9' '7' '?' '5' '8' '6' nan]
bland_chromatin
bland_chromatin contains unique values [ 3.  9.  1.  2.  4.  5.  7.  8.  6. 10. nan]
normal_nucleoli
normal_nucleoli contains unique values [ 1.  2.  7.  4.  5.  3. 10.  6.  9.  8. nan]
mitoses
mitoses contains unique values [ 1  5  4  2  3  7 10  8  6]
class
class contains unique values ['benign' 'malignant']
doctor_name
doctor_name contains unique values ['Dr. Doe' 'Dr. Smith' 'Dr. Lee' 'Dr. Wong']

4. Describe general statistics of data

In [8]:
#Describe general statistics of data
df.describe()

,patient_id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bland_chromatin,normal_nucleoli,mitoses
count,6.990000e+02,698.000000,698.000000,699.000000,699.000000,699.000000,695.000000,698.000000,699.000000
mean,1.071704e+06,4.416905,3.137536,3.207439,2.793991,3.216023,3.447482,2.868195,1.589413
std,6.170957e+05,2.817673,3.052575,2.971913,2.843163,2.214300,2.441191,3.055647,1.715078
min,6.163400e+04,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,8.706885e+05,2.000000,1.000000,1.000000,1.000000,2.000000,2.000000,1.000000,1.000000
50%,1.171710e+06,4.000000,1.000000,1.000000,1.000000,2.000000,3.000000,1.000000,1.000000
75%,1.238298e+06,6.000000,5.000000,5.000000,3.500000,4.000000,5.000000,4.000000,1.000000
max,1.345435e+07,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000

5- How many patients with a severe type of breast cancer has each doctor?

In [15]:
# The code for this question is here (you should rreplace the name of your dataset with breast_dataset if you got an error)
answer_5 = breast_dataset.groupby(by=['doctor_name', 'class']).size()
patient_type_per_doctor = pd.DataFrame({'count':answer_5}).reset_index()
patient_type_per_doctor
######

  doctor_name      class  count
0     Dr. Doe     benign    127
1     Dr. Doe  malignant     58
2     Dr. Lee     benign    121
3     Dr. Lee  malignant     60
4   Dr. Smith     benign    102
5   Dr. Smith  malignant     74
6    Dr. Wong     benign    108
7    Dr. Wong  malignant     49

In [25]:
severe_type = "malignant"
patient_type_per_doctor =  df[df["class"] == severe_type].groupby("doctor_name").size()
patient_type_per_doctor

doctor_name
Dr. Doe      58
Dr. Lee      60
Dr. Smith    74
Dr. Wong     49
dtype: int64

In [26]:
type(patient_type_per_doctor)

pandas.core.series.Series

6- Use patient_type_per_doctor to plot a barplot graph.

In [23]:
#### Question 6.

TypeError: bar() missing 1 required positional argument: 'height'

### II. Accessing, slicing and selecting data

### 1. Accessing values from columns

In [18]:
 #### Collecting all column names in list
 list(breast_dataset.columns)

['patient_id',
 'clump_thickness',
 'cell_size_uniformity',
 'cell_shape_uniformity',
 'marginal_adhesion',
 'single_ep_cell_size',
 'bare_nuclei',
 'bland_chromatin',
 'normal_nucleoli',
 'mitoses',
 'class',
 'doctor_name']

In [7]:
#### Make a dataframe with the values that you find interesting (for example we could have get this table for the extra questions)

### 2. Select specific rows in the table based on their index

In [21]:
#### print data of row 5
breast_dataset.iloc[[5]]

NameError: name 'breast_dataset' is not defined

In [9]:
#print values of first 10 rows of the dataset

### 3. Selecting specific rows based on a condition

In [10]:
#print rows where value of column mitoses is equal to 10 (==10)


### III. Dealing with missing values

### 1. How many missing values per column do we have?

In [12]:
#### NB: In numpy, missing values can be defined with np.nan
df.isnull().sum()

patient_id               0
clump_thickness          1
cell_size_uniformity     1
cell_shape_uniformity    0
marginal_adhesion        0
single_ep_cell_size      0
bare_nuclei              2
bland_chromatin          4
normal_nucleoli          1
mitoses                  0
class                    0
doctor_name              0
dtype: int64

### Determinant choice: What can we do with these missing values?
- [ ] Replace them with zero! - 1
- [ ] Remove them all! - 2

In [24]:
#### Replace them with zero
breast_dataset.fillna(0)

NameError: name 'breast_dataset' is not defined

In [13]:
#### Remove them all